@import "../../assets/styles/functions.scss";

.Sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 0 0 0 40px;
  border: 1px red solid;
  row-gap: 50px;
  @include mobileStyles() {
    padding: 120px 3vw 0 3vw;
    text-align: center;
    overflow-y: hidden;
  }

  .form_brand {
    row-gap: 26px;
    width: 100%;

    .brand_header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #2f3037;
      }
    }

    .brand_inputs {
      display: flex;
      flex-direction: column;
      row-gap: 19px;
    }
  }
}
